head
    include ../partials/links
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")

body
    .container
        .row
            .col-sm-4
                h3  Daire
                h4  3
            .col-sm-4
                h3  Şebeke Kullanımı
                h4  60
            .col-sm-4
                h3  Güneş Enerjisi Kullanımı
                h4  48

        .row
            .col-md-7
                div fatura: 59 &#8378;
                canvas(id="line-chart")
            .col-md-5
                div(class="d-flex flex-wrap")
                    .p-1
                        button(class="switch off")
                            img(src="/icons/air-conditioner-closed.png" )
                            img(src="/icons/air-conditioner-opened.png" class="invisible")
                    .p-1
                        button(class="switch off")
                            img(src="/icons/air-conditioner-closed.png" )
                            img(src="/icons/air-conditioner-opened.png" class="invisible")
                    .p-1
                        button(class="switch off")
                            img(src="/icons/air-conditioner-closed.png" )
                            img(src="/icons/air-conditioner-opened.png" class="invisible")
                    .p-1
                        button(class="switch off")
                            img(src="/icons/air-conditioner-closed.png" )
                            img(src="/icons/air-conditioner-opened.png" class="invisible")
                    .p-1
                        button(class="switch off")
                            img(src="/icons/air-conditioner-closed.png" )
                            img(src="/icons/air-conditioner-opened.png" class="invisible")
                    .p-1
                        button(class="switch off")
                            img(src="/icons/air-conditioner-closed.png" )
                            img(src="/icons/air-conditioner-opened.png" class="invisible")
                    .p-1
                        button(class="switch off")
                            img(src="/icons/air-conditioner-closed.png" )
                            img(src="/icons/air-conditioner-opened.png" class="invisible")
                    .p-1
                        button(class="switch off")
                            img(src="/icons/air-conditioner-closed.png" )
                            img(src="/icons/air-conditioner-opened.png" class="invisible")
                    .p-1
                        button(class="switch off")
                            img(src="/icons/air-conditioner-closed.png" )
                            img(src="/icons/air-conditioner-opened.png" class="invisible")

    script.
        document.querySelectorAll(".switch").forEach(function(elem){
            elem.addEventListener("click", function(e){
                if(this.className.includes("off")){
                    this.classList.remove("off")
                    this.classList.add("on")
                    this.childNodes[0].classList.add("invisible")
                    this.childNodes[1].classList.remove("invisible")
                } else {
                    this.classList.remove("on")
                    this.classList.add("off")
                    this.childNodes[1].classList.add("invisible")
                    this.childNodes[0].classList.remove("invisible")
                }
            })
        })
    
    script.
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: ["01:00", "02:00", "03:00", "04:00"],
                datasets: [{ 
                    data: [86,114,106,106],
                    label: "Şebeke",
                    borderColor: "#2175fc",
                    pointBackgroundColor: "#2175fc",
                    backgroundColor: "#2175fc",
                    fill: false
                }, { 
                    data: [282,350,411,502],
                    label: "Güneş Enerjisi",
                    borderColor: "#40a6f5",
                    pointBackgroundColor: "#40a6f5",
                    backgroundColor: "#40a6f5",
                    fill: false
                }
                ]
            }
            });


