head
    include ../partials/links
    title Giriş Yapın

body
    .login-form
        form(action="/login" method="post")
            h2.text-center Giriş Yap
            .form-group
                input.form-control(type="text" placeholder="Kullanıcı Adı" name="username" required="required")
            .form-group
                input.form-control(type="password" placeholder="Şifre" name="password" required="required")
            .form-group
                button.btn.btn-primary.btn-block(type="submit") Giriş Yap

